body {
  margin: 0;
}
.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  .input-group {
    position: absolute;
    z-index: 10;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  input[type="radio"] {
    margin: 10px;
  }
  .slide{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
  @for $i from 1 through 3 {
    .slide#{$i} {
      background: {
        image: url("../img/r"+$i+".jpg");
        size: cover;
      }
    }
  }
  }
