body {
  margin: 0;
}
.container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  input[type="radio"] {
    position: absolute;
    z-index: 10;
    top: 90%;
  }
  #s1 {
    left: 40%;
  }
  #s2 {
    left: 50%;
  }
  #s3 {
    left: 60%;
  }
  .slide{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 100%;
    transition: left 0s 1s;
  }
  @for $i from 1 through 3 {
    .slide#{$i} {
      background: {
        image: url("../img/r"+$i+".jpg");
        size: cover;
      }
    }
  }
  [id^="s"]:checked + .slide {
    transition: all 0.65s ease-out;
    left: 0;
    z-index: 3;
  }
  }
