<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="css/style.css")
  title Slider
body
  .input-group
    input(type="radio" id="s1" name="slides")
    input(type="radio" id="s2" name="slides")
    input(type="radio" id="s3" name="slides")
  section(class="slide slide1")
    h2("Heading One")
  section(class="slide slide2")
    h2("Heading Two")
  section(class="slide slide3")
    h2("Heading Three")
      
