<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="css/style.css")
  title Slider
body
  .container
    input(type="radio" id="s1" name="slides" checked="checked")
    section(class="slide slide1")
      h2 Heading One
    input(type="radio" id="s2" name="slides")
    section(class="slide slide2")
      h2 Heading Twol
    input(type="radio" id="s3" name="slides")
    section(class="slide slide3")
      h2 Heading Three
        
